{% extends 'base.html' %}

{% block title %} 
contact us
{% endblock %}

{% block mainarea %}

<h1>
Contact Us
</h1>
<pre>
<h2>
Nikshep Paliwal (Android Developer || Web Developer)
</h2>
<hr>
Intern at NIELIT Roper.
MCA (June 2023)
KNIT Sultanpur Uttar Pradesh.

Saharanpur Uttar Pradesh
Mob. No. +91 9149188705
Email- niksheppaliwal@gmail.com

<a href= "https://github.com/NikshepPaliwal">Github</a>
<a href = "nikshep-paliwal-5099971b3">Linked In</a>
<a href = "https://play.google.com/store/apps/details?id=com.Project1.mygrocery">Bi-sathi (Android Application)</a>
<a href = "https://www.amazon.in/Nikshep-Paliwal-Digital-Library/dp/B0CQ2WQ252">Library Management System (Android Application)</a>
</pre>

{% endblock %}