{% extends 'base.html' %}

{% block title %} 
contact us
{% endblock %}

{% block mainarea %}
<div class="container">
  <pre>
    <h2>Nikshep Paliwal (Android Developer || Web Developer)</h2>
    <hr>
    <p class="mt-0">Intern at NIELIT Roper.</p>
    <p>MCA (June 2023)</p>
    <p>KNIT Sultanpur Uttar Pradesh.</p>
    <p>Saharanpur Uttar Pradesh</p>
    <p>Mob. No. +91 9149188705</p>
    <p>Email- niksheppaliwal@gmail.com</p>

    <a href="https://github.com/NikshepPaliwal" class="btn btn-primary">Github</a>
    <a href="nikshep-paliwal-5099971b3" class="btn btn-primary">LinkedIn</a>
    <a href="https://play.google.com/store/apps/details?id=com.Project1.mygrocery" class="btn btn-primary">Bi-sathi (Android Application)</a>
    <a href="https://www.amazon.in/Nikshep-Paliwal-Digital-Library/dp/B0CQ2WQ252" class="btn btn-primary">Library Management System (Android Application)</a>
  </pre>
</div>
{% endblock %}
