{% extends 'base.html' %}

{% block title %}  
 AIML Jan2024
{% endblock %}

{% block mainarea %}
  <h1>
    Welcome to AIML
  </h1>
<a href="https://huggingface.co/spaces/nikshep01/multipleFaceDetection">Mark your attendance</a>

<script>
    window.onload = function() {
        getLocation();
    };

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(sendLocation, handleLocationError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function sendLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Construct the URL with latitude and longitude as query parameters
        var url = `/adduserdata1?latitude=${latitude}&longitude=${longitude}`;

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.text())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }

    function handleLocationError(error) {
        console.error("Error getting location:", error.message);
    }
</script>


{% endblock %}
