{% extends 'base.html' %}

{% block title%}
SignUp Page
{% endblock %}

{% block mainarea %}
<h1>New User Data </h1>
<hr>

<form action="/adduserdata" method="post">
  <table class="table table-striped">
    <tr>
      <td>Username</td>
      <td><input type="text" name="username"/></td>
    </tr>
    <tr>
      <td>Name: </td>
      <td><input type="text" name="name"/></td>
    </tr>
     <tr>
      <td>email: </td>
      <td><input type="text" name="email"/></td>
    </tr>
    <tr> 
     <tr>
      <td>password: </td>
      <td><input type="password" name="upassword"/></td>
    </tr>
      <td colspan="2"><input type="submit" value="Add Student" /></td>
    </tr>
  </table>
</form>
{% endblock %}